.navbar {
    background: #0FAD6D;
}
.ace-nav>li>a{
	background-color: #29825E;
}
.ace-nav>li>a:hover,
.ace-nav>li>a:focus {
    background-color: #057045;
}

.ace-nav>li.open>a {
    background-color: #057045 !important;
}
.logo-ilearner::before {
	background-image: url(../img/logo.20px.png);
	background-position: 50%;
	background-repeat: no-repeat;
	content: "";
	display: inline-block;
	height: 20px;
	margin: -4px 2px -4px 1px;
	width: 25px;
}
.ace-nav>li.light-brand-green>a {
    background-color: #6BD6AB
}

.ace-nav>li.light-brand-green>a:hover,.ace-nav>li.light-brand-green>a:focus {
    background-color: #43D69B
}

.ace-nav>li.open.light-brand-green>a {
    background-color: #43D69B!important
}
.nav-search-input {
	transition: width ease 0.5s;
}
.nav-search-input:focus {
	width: 300px;
}
.dropdown-green li a:hover,.dropdown-green li a:focus,.dropdown-green li a:active,.dropdown-green li.active a,.dropdown-green li.active a:hover,.dropdown-green .dropdown-submenu:hover>a,.nav-tabs .dropdown-green li>a:focus {
    background: #C3F4E0;
    color: #444
}
