.person_box   {background-color:#edf7fd;border:solid #81a9cb 1px;padding:3px;}
.person_boxF  {background-color:#e9daf1;border:1px solid #ff2080;padding:3px;}
.person_boxNN {background-color:#ffffff;border:dashed #81a9cb 1px;padding:3px;}
.person_box:target, .news_box:target, #gedcom_stats:target {background-color:#ffffcc;}
.person_box_lifespan {display:inline;}
/* families tab person box */
#relatives_content .person_box > .person_box, #relatives_content .person_boxF > .person_boxF, #relatives_content .person_boxNN > .person_boxNN {border:none;min-height:50px;}

.itr {position:absolute;line-height:1.5;}
.block .itr, #family-table .itr, #ancestry_chart .itr, #descendancy_chart .itr, #familybook_chart .itr, #hourglass_chart .itr, #relatives_content .itr {position:relative;top:0;}
.popup {display:none;}
.popup ul {background-image:none !important;font-size:9px;list-style:none;margin:0;padding:0 10px;}
.popup li {padding:1px 5px;}
.popup li span {padding:0 5px;}
.popup li ul, .popup li ul li, .popup li span span {padding:0;}
.itr:hover .popup {display:block;position:absolute;width:12em;right:0;z-index:9999;}
html[dir=rtl] .itr:hover .popup {left:0;right:auto;}

/* ============== person box details ============== */
.charts_block .person_box, .charts_block .person_boxF, .charts_block .person_boxNN,
.gedcom_favorites_block, .user_favorites_block,
#ancestry_chart .person_box, #ancestry_chart .person_boxF, #ancestry_chart .person_boxNN,
#descendancy_chart .person_box, #descendancy_chart .person_boxF, #descendancy_chart .person_boxNN,
#family-table .person_box, #family-table .person_boxF, #family-table .person_boxNN,
#familybook_chart .person_box, #familybook_chart .person_boxF, #familybook_chart .person_boxNN,
#hourglass_chart .person_box, #hourglass_chart .person_boxF, #hourglass_chart .person_boxNN,
#pedigree_chart .person_box, #pedigree_chart .person_boxF, #pedigree_chart .person_boxNN,
#relatives_content .person_box, #relatives_content .person_boxF, #relatives_content .person_boxNN,
#relationship_chart .person_box, #relationship_chart .person_boxF, #relationship_chart .person_boxNN {overflow:visible !important;}
.person_box_template .style1 {overflow:hidden;}
.person_box_template .style0 {padding: 2px;}
.person_box_template .noprint {width:25px;height:50px; position:relative;}
.person_box_template .chart_textbox {height:auto;overflow: hidden;}
.person_box_template .details div {display:block;}
.person_box_template img,
.person_box_template a.gallery {
	float:     left;
	height:    50px;
	margin:    0 4px 0 0;
	max-width: 80px;
	width:     auto;
}
html[dir=rtl] .person_box_template img,
html[dir=rtl] .person_box_template a.gallery {
	float:  right;
	margin: 0 0 0 4px;
}
.person_box_template i[class^="icon-silhouette"] {
	float:left;
}
html[dir=rtl] .person_box_template i[class^="icon-silhouette"] {
	float:right;
}

#branches-page table, #medialist-page .list_table, #medialist-page .list_table_controls {margin:0 auto;}
#medialist-page .list_table, #medialist-page .list_table_controls {width:100%;}
.list_table_controls td {min-width:40px;text-align:center;}


#familybook_chart {margin-left:10px; }
#familybook_chart table {border-collapse: collapse; empty-cells: show;}
#familybook_chart td {margin:0; padding:0;}
#familybook_chart h2 {text-align:center;}
#familybook_chart .line3, #familybook_chart .pvline, #familybook_chart .spacer {width: 3px;}
#familybook_chart .line4 {width: 7px;}
[ID^="vline"] {width:3px;}
#familybook_chart h3 {color:#000066;font-size: 16px;text-align:center;}
#relationship-page h3 {margin:20px 0 0 20px;}
#relationship_chart {margin:0 20px 0;}

.tdtop {vertical-align:top;}
.tdmid {vertical-align:middle;}
.tdbot, .tvertline {vertical-align:bottom;}

html[dir=rtl] #familybook_chart {margin-right:10px;}

/*-- pedigree chart specific stylesheets --*/
#pedigree-page table.list_table {margin:0 auto;width:500px;}
.pedigree_chart_table {border:0;border-collapse:collapse;padding:0;width:100%;}
#pedigree_chart {position:relative;top:-200px;left:0;}
html[dir=rtl] #pedigree_chart {left:auto;right:10px;}
#pedigree_canvas {color:#81A9CB;position:absolute;top:200px;z-index:-1000;}
#pedigree_chart #childarrow, #pedigree_chart #uparrow, #pedigree_chart .shadow {position:absolute;}
#pedigree_chart #childbox {border:1px solid;background-color:#ffffff;padding:5px;position:absolute;visibility:hidden;}
